#contact{
    background-color: rgb(121, 31, 31);
}

html, body{
    background-color: beige;
    margin: auto;
    height: 100%;
}

#title{
    text-align: center;
}

ul{
    display: flex;
    justify-content: flex-end;
}

li{
    padding: 1%;
    list-style: none;
}

a{
    text-decoration: none;
}

#nav{
    background-color: bisque;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    display: block;
    
}

#AboutMe{
    margin: auto;
    width: 100%;
    background-image: url(../img/picMe.jpg);
    text-align: center;
}

#copy{
    margin: auto;
    width: 10%;
}

ul, li{
    margin: 0;
}
#contactBox{
    display: flex;
    justify-content: space-around
}


nav, li:hover{
    background-color: rgb(121, 31, 31);;
}

nav > ul{
    display: flex;
    text-align: center;
}

#title{
    width: 200px;
    height: 100px;
}
.menu-deroulant > a:after{
    display: inline-block;
}

