
.bloc1{
    border: 2px solid black;
    margin: auto;
    width: 100%;
}


.bloc2{
    border: 2px solid black;
    margin: auto;
    width: 100%;
}
.bloc2 h2{
    text-align: center;
}

.bloc1 h2{
    text-align: center;
}

.bloc{
    display: flex;
    justify-content: space-between;
}
#github{
    width: 30px;
    height: 30px;
}
  