

.bloc1{
    border: 2px solid black;
    width: 100%;
    height: 100%;
    padding-bottom: 12.3%;
}


.bloc2{
    border: 2px solid black;
    margin: auto;
    width: 100%;
}
.bloc2 h2{
    text-align: center;
}

.bloc1 h2{
    text-align: center;
}

.bloc1, .bloc2{
    flex: 1;
    box-sizing: border-box;
}

.bloc{
    display: flex;
    justify-content: stretch;
    background-color: antiquewhite;
    align-items: stretch;
}

.project_item, .experience_item{
    background-color: white;
    border: 1px solid maroon;
    margin: 15%;
    border-radius: 5px;
    box-shadow: 10px black;
}

.project_item h3, .experience_item h3{
    margin: 0;
}

.project_item a{
    border: 2px solid maroon;
    background-color: maroon;
    color: white;
    margin: 5px;
}

.project_item a:hover{
    border: 2px solid rgb(98, 4, 4);
    background-color: rgb(98, 2, 2);
}

#github{
    width: 30px;
    height: 30px;
}
  